body {
   background-color: rgb(123, 197, 240);
}

@media only screen and (max-width: 768px) {
   body {
      background-color: rgb(149, 196, 106);
   }
}

@media only screen and (max-width: 500px) {
   body {
      background-color: rgb(184, 59, 59);
   }
}
.small {
   font-family: Arial, Helvetica, sans-serif;
}

.medium{ 
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.large {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width: 500px) {
   .medium {
      display: none;
      }
   .large {
      display : none;
      }
   }

@media only screen and (min-width: 501px) and (max-width: 768px) {
   .small {
      display: none;
      }
   .large {
      display : none;
      }
   }    

@media only screen and (min-width: 768px) {
   .small {
      display: none;
      }
   .medium {
      display: none;
      }
   }